body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s;
}

.topnav a:hover {
    background-color: #575757;
    color: #ffffff;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
    border-bottom: 3px solid #01995e;
    font-weight: bold;
}

.content {
    padding: 20px;
}
